*{
    margin:0px;
    padding:0px;
}

button{
    height: 70px;
    width: 100px;
    border-radius: 8px;

}
.button{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid #333; */
  background: gray;
  color: lightgreen;

  text-align: center;
}

